@media (max-width: 768px) {
  
  .menu-toggle {
    display: block;
    padding: 10px;
  }

  #menu {
    display: none; 
    flex-direction: column;
    position: absolute;
    top: 60px; 
    right: 20px;
    background-color: #2e1a47; 
    padding: 20px;
    border-radius: 5px;
    width: 200px;
    z-index: 100;
  }

  #menu.show {
    display: flex;
  }
}